.dashboardContent {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  padding: 2rem;
  margin-top: 2rem;
}

.leftContent, .rightContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 1025px) {
  .dashboardContent {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .leftContent, .rightContent {
    flex: 1;
  }
}