@use "../../../styles/variables" as *;

.dashboardContent {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: $gap-medium;
}

.leftContent, .rightContent {
  display: flex;
  flex-direction: column;
  gap: $gap-medium;
}

@media (max-width: 1024px) {
  .dashboardContent {
    grid-template-columns: 1fr;
    gap: $gap-medium;
  }

  .leftContent, .rightContent {
    flex: 1;
  }
}